.ds-edit-btn, .btn-primary {
    width: 75px;
    height: 25px;
    margin-bottom: 0px !important;
    font-size: 14px;
    padding-top: 1px;
    background-color: #5d87a1;
    border-color: #5d87a1;
}

.form-control {
    width:auto !important;
}
.form-control-inline {
    display:initial !important;
    float:left;
}
.control-label {
    text-align:left !important;
}
.required {
    color:red;
}
.logo-image {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height:50px;
}
.ds_file_thumb {
    max-width:75px;
    padding-right:10px;
}
.dataTables_length {

    padding-right: 20px !important;
}
.dataTables_info {
    padding-top: 5px !important;
}

.wrapper-content {
    padding:0px 10px 40px;
}

.ds-edit-btn:focus {
    background-color: #b2c6d6;
    border-color: #b2c6d6;
    color: #FFFFFF;
}
