<table align=center width=500 height="300" border="0">
    <tr>
        <td colspan=2>
            <H3>Login Required
        </td>
    </tr>
    <TR>
        <Td colspan=2>
            Please identify yourself with a username and a password:
        </td>
    </tr>
    <tr>
        <td align=left>
            <form action="<?php print $this->url() ?>" method=post>Username:
        </td>
        <td align=left width="50%"><input type="text" name="username" autocomplete="current-password"
                                          size=32
                              maxlength=32></td>
    </tr>
    <tr valign=top align=left>
        <td>Password:</td>
        <td><input type="password" name="password" autocomplete="current-password" size=32 maxlength=32></td>
    </tr>
    <tr>
        <td colspan=2 align=right><input type="submit" name="submit" value="Submit"></td>
    </tr>

    <?php global $username;
    if (isset($username)): ?>
        <!-- failed login code -->
        <tr>
            <td colspan=2 align=center>
                <font color=red><b>Either your username or your password are invalid.<br>
                        Please try again!</b></font>
            </td>
        </tr>

    <?php endif ?>
    </form>

</table>
<script language="JavaScript">
    <!--
    if (document.forms[0][0].value != '') {
        document.forms[0][1].focus();
    } else {
        document.forms[0][0].focus();
    }
    // -->
</script>
